doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../static/index.css')
    link(rel='stylesheet' href='../static/indexcontaianer.css')
    title Document
  body
    div
      nav
        .logo
          img.logoimg(src='../static/Logo1.jpg' alt='logo')
        ul.options
          li
            a(href='/') Home
          li
            a(href='/post') Post Content
          li
            a(href='/read') Read
        //- ul.lo
        //-   li
        //-     a(href='/') Logout
    .home-container
      .home-container-content.content1
        .home-container-content-content.
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab facere, dicta, tempora velit quam vel quia
          | et eaque animi voluptates tempore soluta eum officiis sint? Perferendis ducimus facere exercitationem
          | omnis dolores rem repellendus nisi vel, voluptate aliquid quae earum! Libero vero officiis rerum dolorem
          | facere asperiores veritatis deleniti error iste distinctio, reprehenderit, nisi quo perspiciatis
          | aspernatur, illo suscipit dolorum quidem est inventore laboriosam ab a aliquam itaque doloribus. Atque
          | porro, provident itaque officia ipsam in. Aperiam sunt magnam possimus tempora quisquam quod nulla,
          | necessitatibus voluptatibus? Doloribus est eaque eius recusandae, aspernatur perferendis architecto,
          | voluptatem iste sint accusamus velit quia ullam.
      .home-container-content.content2
        .home-container-content-content.
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab facere, dicta, tempora velit quam vel quia
          | et eaque animi voluptates tempore soluta eum officiis sint? Perferendis ducimus facere exercitationem
          | omnis dolores rem repellendus nisi vel, voluptate aliquid quae earum! Libero vero officiis rerum dolorem
          | facere asperiores veritatis deleniti error iste distinctio, reprehenderit, nisi quo perspiciatis
          | aspernatur, illo suscipit dolorum quidem est inventore laboriosam ab a aliquam itaque doloribus. Atque
          | porro, provident itaque officia ipsam in. Aperiam sunt magnam possimus tempora quisquam quod nulla,
          | necessitatibus voluptatibus? Doloribus est eaque eius recusandae, aspernatur perferendis architecto,
          | voluptatem iste sint accusamus velit quia ullam.
    .footer
      span Copyright © 2018-2021 VDBitz
